{% extends 'base.html' %}
{% block content %}
<a href="{% url 'index' %}" class='url'>&lt;&lt; Back</a>
<div class="form-box">
    <h2>{{type}}</h2>
    <form action="{% url 'getid' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="username" name="adminuser" class="input-field" required><br>
        <input type="password" placeholder="password" name="adminpass" class="input-field" required><br>
        <input type="submit" value="Log In" class="btn submit-btn"><br><br>
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock %}
